* {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(72, 74, 70);
  background-color: rgb(177, 173, 173);
  height: 15vh;
  width: 99.8%;
  align-items: center;
}

.navtitle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  align-self: center;
  margin-left: 5%;
  color: rgb(53, 87, 117);
}

.navlist {
  display: flex;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 10%;
  font-size: 30px;
  gap: 10%;
}

.listitem {
  color: rgb(24, 62, 34);
  text-decoration: none;
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    'display display display display'
    'AC mm porcentaje division'
    'nueve ocho siete multiplicar'
    'seis cinco cuatro restar'
    'tres dos uno sumar'
    'cero cero decimal igual';
  width: 500px;
  height: 500px;
  border: 5px solid rgb(53, 87, 117);
}

.display {
  grid-area: display;
  font-size: 50px;
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
  background-color: rgb(118, 118, 123);
  color: white;
}

.AC { grid-area: AC; }
.mm { grid-area: mm; }
.porcentaje { grid-area: porcentaje; }
.division { grid-area: division; }
.nueve { grid-area: nueve; }
.ocho { grid-area: ocho; }
.siete { grid-area: siete; }
.multiplicar { grid-area: multiplicar; }
.seis { grid-area: seis; }
.cinco { grid-area: cinco; }
.cuatro { grid-area: cuatro; }
.restar { grid-area: restar; }
.tres { grid-area: tres; }
.dos { grid-area: dos; }
.uno { grid-area: uno; }
.sumar { grid-area: sumar; }
.cero { grid-area: cero; }

.decimal {
  grid-area: decimal;
  font-size: 40px;
  background-color: rgb(209, 208, 206);
}

.igual { grid-area: igual; }

.AC,
.mm,
.porcentaje,
.restar,
.nueve,
.ocho,
.siete,
.seis,
.cinco,
.cuatro,
.tres,
.dos,
.uno,
.cero {
  background-color: rgb(209, 208, 206);
  font-size: 17px;
}

.multiplicar,
.division,
.sumar,
.restar,
.igual {
  background-color: rgb(245, 171, 35);
  font-size: 20px;
  font-weight: bold;
}

/* pages */

.calc-section {
  display: flex;
  justify-content: space-between;
  background-image: url(../src/images/studio.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
}

.calc-h2 {
  font-size: 50px;
  color: rgb(53, 87, 117);
  font-family: monospace;
}

.home-section,
.quote-section {
  display: flex;
  flex-direction: column;
  background-image: url(../src/images/studio.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70.5vh;
  padding-top: 7%;
  padding-left: 15%;
  padding-right: 15%;
}

.home-title {
  font-size: 60px;
  font-weight: bold;
  color: rgb(53, 87, 117);
  font-family: monospace;
  margin-bottom: 2%;
}

.textSection {
  font-size: 25px;
  margin: 10px 0 35px 0;
  padding: 0 50px 0 37px;
}

.quote-title {
  font-size: 45px;
  font-family: monospace;
  padding-top: 10%;
  align-self: center;
  color: rgb(53, 87, 117);
}

.listLink {
  color: rgb(53, 87, 117);
  text-decoration: none;
}
